<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DFPInterstitialLoadingLink</key>
	<string>/56598594/loading_inventory</string>
	<key>DFPInterstitialLink</key>
	<string>/56598594/screen_inventory</string>
	<key>DFPBannerLink</key>
	<string>/56598594/leaderboard_inventory</string>
	<key>HomeNewsURL</key>
	<string>http://json.rfj.ch/iprss.ashx?dsid=homenews&amp;idz=1</string>
	<key>BNJVideoTrackingURL</key>
	<string>http://www.bnj.tv/%lld.start</string>
	<key>MixedNewsURL</key>
	<string>http://json.rfj.ch/iprss.ashx?dsid=mixednews&amp;idz=1</string>
	<key>SportMixedNewsURL</key>
	<string>http://json.rfj.ch/iprss.ashx?dsid=mixednews&amp;idz=1&amp;p1=sport</string>
	<key>NewsFicheFeedURL</key>
	<string>http://json.rfj.ch/iprss.ashx?dsid=news&amp;p1=%d</string>
	<key>NewsCategoriesFeedURL</key>
	<string>http://json.rfj.ch/iprss.ashx?dsid=newslist&amp;p1=%d&amp;pg=%d</string>
	<key>ImportantNewsURL</key>
	<string>http://json.rfj.ch/iprss.ashx?dsid=importantnews&amp;idz=1</string>
	<key>SportNewsURL</key>
	<string>http://json.rfj.ch/iprss.ashx?dsid=sportlist&amp;p1=%d&amp;pg=%d</string>
	<key>BlogLatestPostsURL</key>
	<string>http://json.rfj.ch/iprss.ashx?dsid=bloglatestposts&amp;idz=1</string>
	<key>BlogCategoriesURL</key>
	<string>http://json.rfj.ch/iprss.ashx?dsid=blogcategories&amp;idz=1</string>
	<key>BlogPostsURL</key>
	<string>http://json.rfj.ch/iprss.ashx?dsid=bloglist&amp;idz=1&amp;p1=%d&amp;pg=%d</string>
	<key>GalleryListFeedURL</key>
	<string>http://json.rfj.ch/iprss.ashx?dsid=galleries&amp;idz=1&amp;pg=%d</string>
	<key>GalleryPhotosURL</key>
	<string>http://json.rfj.ch/iprss.ashx?dsid=gallery&amp;p1=%d</string>
	<key>FlashInfoFeedURL</key>
	<string>http://json.rfj.ch/iprss.ashx?dsid=flashinfo&amp;idz=1</string>
	<key>PodcastListFeedURL</key>
	<string>http://json.rfj.ch/iprss.ashx?dsid=podcasts&amp;idz=1</string>
	<key>VideoFeedURL</key>
	<string>http://json.rfj.ch/iprss.ashx?dsid=videos&amp;idz=1&amp;pg=%d</string>
	<key>CinemaMovieFeedURL</key>
	<string>http://json.rfj.ch/iprss.ashx?dsid=citymovie&amp;city=%@&amp;p1=%d</string>
	<key>CinemaMovieListFeedURL</key>
	<string>http://json.rfj.ch/iprss.ashx?dsid=citymovies&amp;city=%@</string>
	<key>CinemaMovieScheduleFeedURL</key>
	<string>http://json.rfj.ch/iprss.ashx?dsid=citymovieschedule&amp;p1=%ljd&amp;p2=%ljd&amp;city=%@</string>
	<key>CinemaCityListFeedURL</key>
	<string>http://json.rfj.ch/iprss.ashx?dsid=cinemacities&amp;idz=1</string>
	<key>MeteoCityFeedURL</key>
	<string>http://json.rfj.ch/iprss.ashx?dsid=meteocity&amp;city=%@</string>
	<key>MeteoGlobalFeedURL</key>
	<string>http://json.rfj.ch/iprss.ashx?dsid=meteocities&amp;idz=1</string>
	<key>RadarListFeedURL</key>
	<string>http://json.rfj.ch/iprss.ashx?dsid=radars&amp;v=2</string>
	<key>AgendaFeedURL</key>
	<string>http://json.rfj.ch/iprss.ashx?dsid=events&amp;idz=1</string>
	<key>ArtionetAdTableImageURL</key>
	<string>http://iphone.rfj.ch/WebApp2/Img/banner_2013.gif?V1</string>
	<key>MeteoTypeImageURL</key>
	<string>http://json.rfj.ch/htdocs/images/Meteo/%lld.gif</string>
	<key>ArtionetAdTableDestinationURL</key>
	<string>http://www.artionet.com</string>
	<key>RadioURL</key>
	<string>http://rfj.ice.infomaniak.ch/rfj-high.mp3</string>
</dict>
</plist>
