<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>sport_headline</key>
    <integer>8</integer>
    <key>football</key>
    <integer>9643</integer>
    <key>hockey</key>
    <integer>9644</integer>
    <key>basketball</key>
    <integer>9645</integer>
    <key>volleyball</key>
    <integer>9646</integer>
    <key>cyclism</key>
    <integer>9647</integer>
    <key>ski</key>
    <integer>9648</integer>
    <key>hippism</key>
    <integer>9649</integer>
    <key>tennis</key>
    <integer>9650</integer>
    <key>other_sports</key>
    <integer>9829</integer>
  </dict>
</plist>
